#settingsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#githubLink {
  position: absolute;
  bottom: 6px;
  left: 10px;
}

#checkboxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
